<div class="flex justify-between items-center mt-4 tablet:gap-3">
    <p class="text-neutralLightTheme-dark-grayish-blue-text font-bold dark:text-neutralDarkTheme-desaturated-blue-text">Dark Mode</p>
    <label class="label-dark-mode relative inline-block h-8 w-14 cursor-pointer rounded-full border-neutralLightTheme-dark-grayish-blue-text border">
        <input id="inputDarkMode" class="peer sr-only" type="checkbox">
        <span class="absolute inset-y-0 start-0 m-1 size-6 rounded-full bg-gray-300 ring-[6px] ring-inset ring-white transition-all peer-checked:start-8 peer-checked:w-2 peer-checked:bg-neutralDarkTheme-very-dark-blue-top-bg-pattern peer-checked:ring-transparent"></span>
    </label>
</div>

<style>
    .label-dark-mode:has(input[type=checkbox]:checked) {
    border-style: none;
    background-image: linear-gradient(90deg,#378fe6,#3eda82)
}
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const $btnDarkMode = document.getElementById("inputDarkMode")
        $btnDarkMode?.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark")
        })
    })
</script>