---
import Header from '../components/Header.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="/favicon-32x32.png" type="image/x-icon">
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="dark:bg-neutralDarkTheme-very-dark-blue-bg">
            <Header />
            <main class="relative -top-28 p-8 desktop:-top-36">
                <slot />
            </main>
        </div>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "Inter";
        src: url(/public/assets/font/Inter-Regular.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Inter";
        src: url(/public/assets/font/Inter-Bold.ttf) format("truetype");
        font-weight: normal;
        font-style: normal;
    }
</style>
